@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Playfair+Display:wght@700&display=swap');

:root {
  --primary-color: #f2d7ee;
  --secondary-color: #d3bcc0;
  --accent1-color: #a5668b;
  --accent2-color: #69306d;
}

body {
  background-color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-rows: auto;
}
nav {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: var(--accent1-color);
}

button {
  background-color: var(--accent2-color);
}
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white; 
}

.hero article {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 10px;
}
.hero article img {
  float: right;
  margin-left: 10px; /* Adjust as needed */
}
a {
  text-decoration: none;
}
a img {
  text-decoration: none;
}

figure {
  border: thin #c0c0c0 solid;
  display: inline-flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #444;
    color: #fff;
}
.happyemp1 img,
.happyemp2 img,
.happyemp3 img {
    width: 20%;
    height: auto;
}

.map-frame {
    border: 0;
    width: 600px;
    height: 450px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}






