@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Playfair+Display:wght@700&display=swap');

:root {
  --primary-color: #f2d7ee;
  --secondary-color: #d3bcc0;
  --accent1-color: #a5668b;
  --accent2-color: #69306d;
}

body {
  background-color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-rows: auto;
}

a {
  color: var(--accent1-color);
}

button {
  background-color: var(--accent2-color);
}
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white; 
}

.hero article {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 10px;
}
.hero article img {
  float: right;
  margin-left: 10px; /* Adjust as needed */
}
a {
  text-decoration: none;
}
a img {
  text-decoration: none;
}


